@font-face {
   font-family: 'NanumBarunGothic';
   font-display: swap;
   src: url('file:///D:/%E2%98%852019_dooribun%E2%98%85/04.%20%ED%99%88%ED%8E%98%EC%9D%B4%EC%A7%80%20%EA%B5%AC%EC%B6%95/00.%20%EC%82%AC%EC%9D%B4%ED%8A%B8%EB%A6%AC%EB%89%B4%EC%96%BC/%EB%B9%8C%EB%8D%94%ED%8C%8C%EC%9D%BC/%EA%B9%83%ED%97%88%EB%B8%8C%20%EB%B0%B1%EC%97%85%EB%B3%B8/20210119_%EC%95%84%EC%9D%B4%ED%8A%9C%EB%B2%84%EB%A6%AC%EB%89%B4%EC%96%BC_v1.2.5.3/landing-gh-pages/fonts/NanumBarunGothic/font.ttf');
}
