@font-face {
   font-family: 'NanumBarunGothic';
   font-display: swap;
   src: url('file:///C:/Users/DooribunPC01/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-01-15_162826/fonts/NanumBarunGothic/font.ttf');
}
